<div class="day-view">
  <div class="hour-slot" *ngFor="let hour of hoursInDay">
    <div class="hour-label">{{ hour.label }}</div>
    <div class="events">
      <div *ngFor="let appointment of getAppointmentsForHour(hour.date)">
        <button class="event-label" (click)="openAppointmentDetails(appointment)">
          Turno asignado
        </button>
      </div>
    </div>
    <button class="btn btn-primary" (click)="openAddAppointmentModal(hour.date)">
      Asignar Turno
    </button>
  </div>
</div>

<!-- Modal para agregar o editar turnos -->
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show': isModalOpen() }" [ngStyle]="{ display: isModalOpen() ? 'block' : 'none' }" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedAppointment ? 'Editar Turno' : 'Asignar Turno' }}</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Título del Turno</label>
            <input type="text" class="form-control" [(ngModel)]="newAppointment.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="newAppointment.description" name="description">
          </div>
          <div class="form-group">
            <label for="location">Ubicación</label>
            <input type="text" class="form-control" [(ngModel)]="newAppointment.location" name="location">
          </div>
          <div class="form-group">
            <label for="time">Hora</label>
            <input type="time" class="form-control" [(ngModel)]="newAppointment.time" name="time" required>
          </div>
          <div class=" d-flex justify-content-start gap-2 pt-3">
            <button type="submit" class="btn btn-primary">{{ selectedAppointment ? 'Guardar Cambios' : 'Asignar Turno' }}</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
