<div class="calendar-header d-flex justify-content-center mb-4">
  <button class="btn btn-primary mx-2" (click)="showMonthView()" [class.active]="selectedView() === 'month'">Mes</button>
  <button class="btn btn-primary mx-2" (click)="showWeekView()" [class.active]="selectedView() === 'week'">Semana</button>
  <button class="btn btn-primary mx-2" (click)="showDayView(activeDate())" [class.active]="selectedView() === 'day'">Día</button>
</div>

<!-- Contenido del calendario -->
<div class="calendar-content">
  <!-- Vista mensual -->
  <ng-container *ngIf="selectedView() === 'month'">
    <app-month-view
      [appointments]="appointments()"
      [activeDate]="activeDate()"
      (changeDay)="onDaySelected($event)">
    </app-month-view>
  </ng-container>

  <!-- Vista semanal -->
  <ng-container *ngIf="selectedView() === 'week'">
    <app-week-view
      [appointments]="appointments()"
      [activeDate]="activeDate()"
      (changeDay)="onDaySelected($event)">
    </app-week-view>
  </ng-container>

  <!-- Vista diaria -->
  <ng-container *ngIf="selectedView() === 'day'">
    <app-day-view
      [appointments]="appointments()"
      [activeDate]="activeDate()"
      (addEvent)="onAddAppointment($event)">
    </app-day-view>
  </ng-container>
</div>

<!-- Modal para agregar o editar turnos -->
<app-add-appointment-modal
  *ngIf="isModalOpen() && selectedAppointment"
  [appointment]="selectedAppointment"
  (save)="onSubmit($event)"
  (close)="closeModal()">
</app-add-appointment-modal>
