<div class="flex justify-between">
  <button (click)="modalRegistroPaciente()" class="btn btn-primary mb-4">
    Registrar pacientes
  </button>
  <button (click)="modalBuscarPaciente()" class="btn btn-primary mb-4">
    Buscar pacientes
  </button>
</div>

<div>
  <h2>Lista de Pacientes</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.nombre }}</td>
        <td>{{ patient.apellido }}</td>
        <td>{{ patient.dni }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.telefono }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-reusable-modal
  *ngIf="showModal"
  [title]="'Registrar Nuevo Paciente'"
  (closeModal)="showModal = false">
  <app-registrar-paciente></app-registrar-paciente>
</app-reusable-modal>

<!-- <app-reusable-modal
  *ngIf="showModalDos"
  [title]="'Buscar Paciente'"
  (closeModal)="showModalDos = false">
  <app-buscar-paciente></app-buscar-paciente>
</app-reusable-modal> -->
