<div class="max-w-[600px]">
  <h2>{{ appointment.idPersona ? 'Editar Cita' : 'Crear Nueva Cita' }}</h2>
  <form
    (ngSubmit)="saveAppointment()"
    class="flex flex-direction-column flex-col gap-4 min-w-[600px]">
    <!-- DNI del Paciente -->
    <label for="dniPaciente">DNI del Paciente:</label>
    <input
      type="number"
      [(ngModel)]="dniPaciente"
      (blur)="onDniBlur()"
      name="dniPaciente"
      required />

    <!-- Especialidad -->
    <label for="especialidad">Especialidad:</label>
    <select
      [(ngModel)]="selectedEspecialidad"
      (change)="onEspecialidadChange()"
      name="especialidad"
      required>
      <option
        *ngFor="let especialidad of especialidades"
        [value]="especialidad">
        {{ especialidad }}
      </option>
    </select>

    <!-- Médico -->
    <label for="medico">Médico:</label>
    <select
      [(ngModel)]="selectedMedicoId"
      (change)="onMedicoChange()"
      name="medico"
      required>
      <option *ngFor="let medico of filteredMedicos" [value]="medico.idMedico">
        {{ medico.nombre }} {{ medico.apellido }}
      </option>
    </select>

    <!-- Horario Disponible -->
    <label for="horario">Horario Disponible:</label>
    <select [(ngModel)]="selectedHorarioId" name="horario" required>
      <option *ngFor="let horario of horariosDisponibles" [value]="horario.idHorario">
        {{ horario.fecha }} {{ horario.horaInicio }} - {{ horario.horaFin }}
      </option>
    </select>

    <!-- Motivo -->
    <label for="motivo">Motivo:</label>
    <input
      type="text"
      [(ngModel)]="appointment.motivo"
      name="motivo"
      required />

    <!-- Notas -->
    <label for="notas">Notas:</label>
    <textarea [(ngModel)]="appointment.notas" name="notas"></textarea>

    <!-- Guardar -->
    <button type="submit" class="btn btn-primary">
      {{ appointment.idPersona ? 'Actualizar' : 'Guardar' }}
    </button>
  </form>
</div>