<div class="card p-4 max-w-[800px] w-[600px]">
  <form (ngSubmit)="registrarPaciente()" class="flex flex-col gap-4">
    <label for="nombre">Nombre:</label>
    <input type="text" [(ngModel)]="paciente.nombre" name="nombre" required />
  
    <label for="apellido">Apellido:</label>
    <input type="text" [(ngModel)]="paciente.apellido" name="apellido" required />
  
    <label for="dni">DNI:</label>
    <input type="number" [(ngModel)]="paciente.dni" name="dni" required />
  
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="paciente.email" name="email" />
  
    <label for="telefono">Teléfono:</label>
    <input type="text" [(ngModel)]="paciente.telefono" name="telefono" />
  
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input
      type="date"
      [(ngModel)]="paciente.fechaNacimiento"
      name="fechaNacimiento" />
  
    <button type="submit" class="btn btn-primary">Registrar Paciente</button>
  </form>
</div>
