<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="row w-100 justify-content-center" style="max-width: 1200px">
    <div class="col-12 col-md-4 mb-3">
      <div
        class="card d-flex flex-column justify-content-center"
        style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Asignar turno</h5>
          <p class="card-text">Contenido de la tarjeta 1.</p>
          <a routerLink="/appointments" routerLinkActive="active" class="btn btn-primary">VER</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div
        class="card d-flex flex-column justify-content-center"
        style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Admitir paciente</h5>
          <p class="card-text">Contenido de la tarjeta 2.</p>
          <a routerLink="/patients" routerLinkActive="active" class="btn btn-primary">VER</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div
        class="card d-flex flex-column justify-content-center"
        style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Anular turno</h5>
          <p class="card-text">Contenido de la tarjeta 3.</p>
          <a  routerLink="/appointments" routerLinkActive="active" class="btn btn-primary">VER</a>
        </div>
      </div>
    </div>
  </div>
</div>
