/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
=======
  overflow: hidden; /* Evita el scroll 
>>>>>>> 2847aadb2ac175c4cc2e8675838e1ae2331ae7ea
}
*/
