<div class="container mt-1">
  <div class="flex flex-col lg:flex-row lg:gap-3">
    <app-custom-table
      class="w-full lg:w-1/2 lg:mt-0"
      [title]="'Citas del día'"
      [subtitle]="'Actualizado Hoy'"
      [data]="appointmentsTodayData"
      [columns]="tableColumns"
      [filters]="filters"
      [searchField]="searchField"
      [searchPlaceholder]="searchPlaceholder"
      [onDetailsClick]="handleDetailsClick">
    </app-custom-table>
    <app-custom-table
      class="w-full lg:w-1/2"
      [title]="'Turnos Registrados'"
      [data]="appointmentData"
      [columns]="tableColumns"
      [filters]="filters"
      [searchField]="searchField"
      [searchPlaceholder]="searchPlaceholder"
      [onDetailsClick]="handleDetailsClick">
    </app-custom-table>
  </div>

  <div class="card p-4 mt-4">
    <app-form
      [formConfig]="userFormConfig"
      [submitButtonText]="'Registrar'"
      [submitButtonClasses]="
        'text-white bg-green-500 hover:bg-green-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center'
      "
      (formSubmit)="handleFormSubmit($event)"></app-form>
  </div>
</div>
